.calculator {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  font-size: 18px;
}

.display {
  height: 60px;
  background-color: #fff;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button {
  width: 60px;
  flex-grow: 1;
  height: 60px;
  border: none;
  background-color: #eee;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  margin: 5px;
}

.button-light {
  background-color: #f2f2f2;
  color: #999;
}

.button-zero {
  width: 120px;
  background-color: #eee;
  margin-right: 10px;
}

.button:hover {
  background-color: #ddd;
}

.button:active {
  background-color: #ccc;
  transform: translateY(2px);
}

/* Quotes styling */
.quote-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d8d1d15f;
}

.quote {
  font-size: 24px;
  font-weight: bold;
}

.author {
  margin-top: 10px;
  font-style: italic;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
  margin-right: 20px;
}

.links-container {
  display: flex;
  column-gap: 10px;
}

.links {
  text-decoration: none;
  color: #333;
  font-weight: 800;
}

/* Home styles */

.welcome {
  text-align: center;
  background-color: #ccc;
}

.instructions {
  font-size: medium;
  font-weight: 600;
  list-style: none;
  margin: 20px;
}

.github-link {
  text-decoration: none;
  color: blueviolet;
  font-weight: 800;
  margin-left: 7px;
  margin-right: 7px;
}
